#people{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

}
.eachCard{
     background-color: rgb(173, 199, 202)  ;
     padding: 10px;
     margin: 15px;
     border-radius: 5px;
}
#title{
    font-size: 80px;
}
.eachCard:hover{
 background-color: rgb(137, 119, 153);
}